@model  int

<div class="container row pt-4">


<div class="col-12 text-center">
		<h1 class="text-dark">Order placed sucessfull!</h1>
		Your order number is: @Model <br/> <br/>
		<img src="/images/lawn_leaf.jpg" width="65%"/>


	</div>
	<div class="col-12 text-center" style="color:maroon">
		<br/>
		your order is been placed successfully.<br/>
		
	</div>
	
</div>